absl-py==0.11.0
alembic==1.4.3
amqp==2.6.1
astor==0.8.1
astunparse==1.6.3
Babel==2.9.0
backports-abc==0.5
backports.tempfile==1.0
backports.weakref==1.0.post1
billiard==3.6.3.0
boto==2.49.0
boto3==1.16.44
botocore==1.19.44
bz2file==0.98
cachetools==4.2.0
celery==4.4.7
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
coolname==1.1.0
Cython==0.29.21
deuces==0.2
docutils==0.16
enum34==1.1.10
eval7==0.1.8
Flask==1.1.2
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
Flask-SSLify==0.1.5
flatbuffers==1.12
flower==0.9.7
funcsigs==1.0.2
future==0.18.2
gast==0.3.3
gensim==3.8.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
gunicorn==20.0.4
h5py==2.10.0
healthcheck==1.3.3
humanize==3.2.0
idna==2.10
importlib-metadata==3.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.0
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kombu==4.6.11
Mako==1.1.3
Markdown==3.3.3
MarkupSafe==1.1.1
mock==4.0.3
nltk==3.5
numpy==1.19.4
oauthlib==3.1.0
opt-einsum==3.3.0
pandas==1.2.0
pbr==5.5.1
Pillow==8.0.1
prometheus-client==0.8.0
protobuf==3.14.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyBrain==0.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.5
redis==3.5.3
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.6
s3transfer==0.3.3
scikit-learn==0.24.0
scipy==1.5.4
SCons==4.0.1
singledispatch==3.4.0.3
six==1.15.0
smart-open==4.0.1
SQLAlchemy==1.3.22
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
Theano==1.0.5
threadpoolctl==2.1.0
torch==1.7.1
torchvision==0.8.2
tornado==6.1
tqdm==4.55.0
typing-extensions==3.7.4.3
urllib3==1.26.2
vine==1.3.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
